* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories {
    width: 100%;
    padding: 40px 9%;
    background: #f8fbff;
}

.categories-heading {
    text-align: center;
    max-width: 720px;
    margin: auto;
    margin-bottom: 40px;
}

.categories-heading span {
    color: #2563eb;
    font-size: 1.3vmax;
    font-weight: 800;
    letter-spacing: 1px;
}

.categories-heading h2 {
    margin: 15px 0;
    font-size: 3.3vmax;
    color: #111827;
}

.categories-heading p {
    color: #6b7280;
    font-size: 1.2vmax;
    letter-spacing: 1.7;
}

.categories-grid {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.category-card {
    background: #fff;
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: .35s;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(37,99,235, 0.18);
}

.category-icon {
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 50%;
    background: #e8f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
    margin-bottom: 22px;
}

.category-card h3 {
    font-size: 1.6vmax;
    color: #111827;
    margin-bottom: 10px;
}

.category-card p {
    color: #6b7280;
    margin-bottom: 20px;
    font-size: 1.2vmax;
}

.category-card button {
    border: none;
    background: #2563eb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.category-card button:hover {
    background: #1d4ed8;
}